<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.traver">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name="org.litepal.LitePalApplication"
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.example.traver.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity android:name=".ZhuceActivity" />
        <activity android:name=".SearchActivity" />
        <activity android:name=".ShezhiActivity" />
        <activity android:name=".FashuoshuoActivity" />
        <activity android:name=".NongcunfupinActivity" />
        <activity android:name=".fuping_fragment.DetailActivity" />
        <activity android:name=".zhiyuangongyi.ZhiyuangongyiActivity" />
        <activity android:name=".jiudianpiaowu.JiudianpiaowuActivity" />
        <activity android:name=".shougongzhizhuo.ShougongzhizhuoActivity" />
        <activity android:name=".youxijiyi.YouxijiyiActivity" />
        <activity android:name=".zhumingjingdian.ZhumingjingdianActivity" />
        <activity android:name=".zong_package.Zong_detailActivity" />
        <activity android:name=".zhiyuangongyi.DZYActivity" />
        <activity android:name=".zhiyuangongyi.zhiyuan.PinglunActivity" />
        <activity android:name=".xcts.XCTSActivity" />
        <activity android:name=".shuo_shuo.SPActivity" />
        <activity android:name=".shuo_shuo.DatuActivity"></activity>
    </application>

</manifest>